{% extends "base.html" %}

{% block content %}
    <h1>Zalety odnawialnych źródeł energii</h1>
    <p>Odnawialne źródła energii, takie jak energia słoneczna, wiatrowa, czy geotermalna, mają wiele zalet. Przede wszystkim są to źródła czystej energii, które nie emitują szkodliwych gazów cieplarnianych, przyczyniając się do redukcji efektu cieplarnianego. Zastosowanie OZE pozwala także uniezależnić się od paliw kopalnych, co zwiększa bezpieczeństwo energetyczne. Ponadto są to źródła niewyczerpywalne, co oznacza, że mogą dostarczać energię przez długie lata.</p>

    <h2>Zagrożenia związane z globalnym ociepleniem</h2>
    <p>Globalne ocieplenie niesie ze sobą wiele zagrożeń. Zwiększające się temperatury powodują topnienie lodowców, co prowadzi do podnoszenia się poziomu mórz i zagraża wybrzeżom oraz wyspom. Zmiany klimatyczne wpływają na ekstremalne zjawiska pogodowe, takie jak susze, powodzie, czy huragany. Wzrost temperatur może również prowadzić do degradacji ekosystemów, zmniejszając bioróżnorodność i zagrażając wielu gatunkom roślin i zwierząt. Ograniczenie emisji CO2 i przejście na odnawialne źródła energii są kluczowe, aby przeciwdziałać tym zagrożeniom.</p>
{% endblock %}
